body {
    padding: 0px;
    margin: 0px;
}

header{
    margin-top: 24px;
    margin-bottom: 24px;
}

.mitte {
    display: flex;
    justify-content: center;
    align-items: center;
}